mixin menuList(active)
  ul.KitchenSinkMenuList
    li.KitchenSinkMenuList__element(class=active == "grid" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="grid.html") The Grid
    li.KitchenSinkMenuList__element(class=active == "visibility" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="visibility.html") Visibility
    li.KitchenSinkMenuList__element(class=active == "variables" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="options.html") Options
    li.KitchenSinkMenuList__element(class=active == "mixins" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="mixins.html") Mixins
    li.KitchenSinkMenuList__element(class=active == "functions" ? "KitchenSinkMenuList__element--active" : "")
      a.KitchenSinkMenuList__link(href="functions.html") Functions
